<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Inventario Software</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</head>  
  <body>
        <div class="modal-dialog text-center">
                <div class="col-12 main-section">
                    <div class="modal-content">
                        <div class="col-12 ">
                            <h1>INVENTARIO SOFTWARE</h1>
                        </div>
                        <form class="col-12" th:action="@{/login}" method="get">
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Nombre del programa:</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="codigoActivo">
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Version:</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="codigoActivo">
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Encargado del software:</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="codigoActivo">
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Licencia:</label>
                                    <div class="col-8">
                                        <select id="inputState" class="form-control">
                                            <option selected>SI</option>
                                            <option>NO</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Equipo:</label>
                                    <div class="col-8">
                                        <select id="inputState" class="form-control">
                                            <option selected>PC</option>
                                            <option>Laptop</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Codigo de Bien</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="codigoActivo">
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Sistema Operativo</label>
                                    <div class="col-8">
                                        <select id="inputState" class="form-control">
                                            <option selected>Windows 10</option>
                                            <option>Windows 8</option>
                                            <option>Windows 7</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Numero de Serie</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="codigoActivo">
                                    </div>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                        </form>

                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success" role="alert">
                            You have been logged out.
                        </div>
                    </div>
                </div>
            </div>
  </body>
  </html>